@font-face {
  font-family: "Autography";
  src: url("/assets/fonts/Autography.otf");
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #141414;
  --secondary: #e8e73d;
  --secondaryLight: #eedd80;
  --tertiary: #daa8b3;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

section {
  margin-bottom: 9rem;
}

.separator {
  width: 100%;
  height: 7px;
  background-color: var(--secondary);
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 231, 61, 1) 100%
  );
}

.separator img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  background-color: #fff;
}

/* HEADER */

nav.navbar {
  background-color: var(--primary) !important;
}

.nav-link {
  font-size: 1.3em;
  background: -webkit-linear-gradient(var(--secondary), #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 1rem;
}

.navbar-brand img {
  width: 13%;
}
header {
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-index {
  background: linear-gradient(rgba(0, 0, 255, 0), rgb(255, 255, 255)),
    url("/assets/img/fotoinicio.jpg");
}

.header-text {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2.4em;
  line-height: 55px;
}

.header-text span {
  font-family: "Autography";
  font-size: 2.8em;
  background: -webkit-linear-gradient(rgb(255, 238, 6), rgb(176, 167, 43));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-background {
  position: absolute;
  top: -90%;
  left: -5%;
  width: 35%;
}
.categories-container {
  width: 70%;
  margin: 5rem auto 0 auto;
}

.categories-container div {
  width: 100%;
}

.category {
  box-shadow: 4px 5px 6px rgb(230, 230, 230);
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
  z-index: 2;
}

.category:hover {
  scale: 1.1;
}

.category img {
  width: 100%;
}

.category h3 {
  font-family: "Autography";
  font-size: 3em;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.category p {
  font-size: 0.8em;
}

.section-title {
  text-align: center;
  margin-top: 5rem;
  font-weight: 100;
  line-height: 45px;
  font-size: 3em;
}

.section-title span {
  font-weight: 300;
  font-family: "Autography";
  font-size: 2em;
  background: -webkit-linear-gradient(rgb(255, 238, 6), rgb(176, 167, 43));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-container {
  /* grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px auto);
  
  display: grid; */
  max-width: 50%;
  margin: 4rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.one {
  width: 100%;
  grid-area: 1 / 1 / 4 / 2;
}
.two {
  width: 100%;
  grid-area: 1 / 2 / 3 / 3;
}
.three {
  width: 100%;
  grid-area: 1 / 3 / 4 / 4;
}
.four {
  width: 100%;
  grid-area: 4 / 1 / 6 / 2;
}
.five {
  width: 100%;
  grid-area: 3 / 2 / 6 / 3;
}
.six {
  width: 100%;
  grid-area: 4 / 3 / 6 / 4;
}

.gallery-container div {
  width: 100%;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: var(--primary);
  padding: 0.5rem 0;
}

footer img {
  width: 5%;
}

footer p {
  color: #fff;
  margin: 0;
  text-align: center;
}
.socials img {
  background-color: red;
  width: 3.5rem;
  height: 3.5rem;
}

/* SERVICES PAGE */
.header-text-services {
  bottom: 20%;
}

.header-services {
  background: linear-gradient(rgba(0, 0, 255, 0), rgb(255, 255, 255)),
    url("/assets/img/fotoservicios.jpg");
  background-position: 0% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.section-title-container {
  background: var(--secondaryLight);
  width: 22%;
  padding: 0.5rem 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.section-title-container img {
  width: 20%;
}

.section-title-container h2 {
  margin: 0;
  font-weight: 200;
  font-size: 2.2em;
}
