@font-face {
  font-family: "Autography";
  src: url("/assets/fonts/Autography.otf");
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --primary: #141414;
  --secondary: #e8e73d;
  --secondaryLight: #eedd80;
  --secondaryPastel: #f7f4bf;
  --tertiary: #daa8b3;
  --disabled: rgb(187, 187, 187);
}

.container-small {
  width: 70%;
  margin: 0 auto;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

section {
  margin-bottom: 9rem;
}

.separator {
  width: 100%;
  height: 7px;
  background-color: var(--secondary);
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 231, 61, 1) 100%
  );
}

.separator img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  background-color: #fff;
}

/* HEADER */

nav.navbar {
  background-color: var(--primary) !important;
}

.nav-link {
  font-size: 1.3em;
  background: -webkit-linear-gradient(var(--secondary), #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 1rem;
}

.navbar-brand img {
  width: 13%;
}
header {
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-index {
  background: linear-gradient(rgba(0, 0, 255, 0), rgb(255, 255, 255)),
    url("/assets/img/fotoinicio.jpg");
  background-position: center;
  background-size: cover;
}

.header-text {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2.4em;
  line-height: 55px;
}

.header-text span {
  font-family: "Autography";
  font-size: 2.8em;
  background: -webkit-linear-gradient(rgb(255, 238, 6), rgb(176, 167, 43));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-background {
  position: absolute;
  top: -90%;
  left: -5%;
  width: 35%;
}
.categories-container {
  width: 70%;
  margin: 5rem auto 0 auto;
}

.categories-container div {
  width: 100%;
}

.category {
  box-shadow: 4px 5px 6px rgb(230, 230, 230);
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
  z-index: 2;
}

.category:hover {
  scale: 1.1;
}

.category img {
  width: 100%;
}

.category h3 {
  font-family: "Autography";
  font-size: 3em;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.category p {
  font-size: 0.8em;
}

.section-title {
  text-align: center;
  margin-top: 5rem;
  font-weight: 100;
  line-height: 45px;
  font-size: 3em;
}

.section-title span {
  font-weight: 300;
  font-family: "Autography";
  font-size: 2em;
  background: -webkit-linear-gradient(rgb(255, 238, 6), rgb(176, 167, 43));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-container {
  /* grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px auto);
  
  display: grid; */
  max-width: 50%;
  margin: 4rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.one {
  width: 100%;
  grid-area: 1 / 1 / 4 / 2;
}
.two {
  width: 100%;
  grid-area: 1 / 2 / 3 / 3;
}
.three {
  width: 100%;
  grid-area: 1 / 3 / 4 / 4;
}
.four {
  width: 100%;
  grid-area: 4 / 1 / 6 / 2;
}
.five {
  width: 100%;
  grid-area: 3 / 2 / 6 / 3;
}
.six {
  width: 100%;
  grid-area: 4 / 3 / 6 / 4;
}

.gallery-container div {
  width: 100%;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: var(--primary);
  padding: 0.5rem 0;
}

footer img {
  width: 5%;
}

footer p {
  color: #fff;
  margin: 0;
  text-align: center;
}
.socials img {
  width: 3.5rem;
  height: 3.5rem;
}

/* SERVICES PAGE */
.header-text-services {
  bottom: 20%;
}

.header-services {
  background: linear-gradient(rgba(0, 0, 255, 0), rgb(255, 255, 255)),
    url("/assets/img/fotoservicios.jpg");
  background-position: 0% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.section-services {
  margin-bottom: 3rem;
}
.section-title-container {
  background: var(--secondaryLight);
  height: 6rem;
  width: 22%;
  padding: 0.5rem 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-left: 2rem;
}

.section-title-container img {
  height: 100%;
}

.section-title-container h2 {
  margin: 0;
  font-weight: 200;
  font-size: 2.2em;
}

.services-list {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.services-list:last-of-type {
  margin-bottom: 0;
}

.services-list li {
  border-bottom: 1px solid var(--secondary);
  padding: 0.7rem 2rem;
}

.services-list li:last-of-type {
  border-bottom: none;
}

.services-list p {
  margin: 0;
}

.service-name {
  font-size: 1.3em;
}

.service-price {
  font-size: 1.5em;
  font-weight: 200;
}

.service-duration {
  color: var(--disabled);
}

.longer {
  width: 25%;
}

.logo-services {
  top: auto;
  left: auto;
  right: -12%;
  bottom: 55%;
  transform: translateY(50%);
}

/* CONTACT PAGE */

.header-contact {
  height: 30vh;
}

.separator-contact-header {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 7px;
  background-color: var(--secondary);
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 231, 61, 1) 100%
  );
}

.separator-title-container {
  background: #fff;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 0 1rem;
}
.separator-title {
  font-family: "Autography";
  font-size: 6em;
  background: -webkit-linear-gradient(rgb(255, 238, 6), rgb(176, 167, 43));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.contact-grid {
  max-width: 40%;
  margin: 0 auto 6rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.contact-grid a {
  background: var(--secondaryPastel);
  border-radius: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem 0;
  color: var(--primary);
  cursor: pointer;
}

.contact-grid a:last-of-type {
  cursor: auto;
}

.contact-one {
  grid-area: 1 / 1 / 5 / 2;
}

.contact-two {
  grid-area: 1 / 2 / 4 / 3;
}

.contact-three {
  grid-area: 5 / 1 / 8 / 2;
}

.contact-four {
  grid-area: 4 / 2 / 8 / 3;
}

.contact-five {
  grid-area: 8 / 1 / 12 / 3;
}

.contact-title {
  font-weight: bold;
  font-size: 1.4em;
}

.contact-info {
  font-weight: 300;
  font-size: 1.2em;
}
.contact-icon {
  width: 9%;
}

/* BOOKING PAGE */

.title-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divider-container {
  top: 60%;
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.title-divider div {
  height: 7px;
  width: 100%;
  background-color: #e8e73d;
}

.title-divider p {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2.4em;
  line-height: 55px;
}

.title-divider p span {
  font-family: "Autography";
  font-size: 3em;
  background: -webkit-linear-gradient(rgb(255, 238, 6), rgb(176, 167, 43));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.booking-container {
  max-width: 25%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
}

.btn-booking {
  background: rgb(221, 199, 107);
  background: linear-gradient(
    90deg,
    rgba(221, 199, 107, 1) 0%,
    rgba(243, 238, 164, 1) 100%
  );
  font-size: 1.5em;
  font-weight: 300;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 100px;
  margin-top: 2rem;
}
